body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    /* background: #ddeefc; */
}
body::after {
    content: "";
    /* background-image:url("https://wallpapers.com/images/hd/blurred-lights-dslr-camera-photography-z1z5nn4asvlk8cok.jpg"); */
    background-image: url("https://www.shoppersphoto.ca/Themes/ShoppersPhoto/Images/Pages/Photobooks/Spring_2023/block1.jpg");
    background-size: cover;
    background-position: center center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.9;
    /* Set the desired opacity value */
    pointer-events: none;
    z-index: -1;
}


a {
    text-decoration: none;
    color:white;
    font-size: 1.7rem;
}

#logo {
    width: 20%;
    /* height: 20%; */
}

.logo_name>a>img {
    width: 25%;
    /* height: 5%; */
    margin-top: 10px;
    background-color: none;
}

.logo_name>a>img:hover {
    /* background-color: maroon; */
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(184, 184, 184, 0.627);
    /* padding-top: 1rem; */
    /* padding-bottom: 1rem; */
    position: absolute;
    z-index: 1;
    position: fixed;
    padding: 0.5rem 0;
    transition: padding-bottom padding-top background-color 0.5s ease;
}

nav a:hover {
    /* color: #fb07aa; */
    /* text-decoration: underline #fb07aa ; */
    color: blue;
    background-color:rgba(85, 17, 17, 0.217);
    text-decoration-thickness: 2px; 
    transition: text-decoration 0.3s;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    font-weight: bolder;
  }

nav.scrolled {
    /* background-color: #ffffff; */
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}

nav.scrolled a {
    color: blue;
    font-weight: bolder;
}
nav.scrolled a:hover{
    color: white;
    font-weight: lighter;
}
.f1{
    font-size: larger;
    color: #1a06f4;
    font-weight: bold;
}
.nav-contents {
    margin-left: -10%;
    display: flex;
    gap: 3rem;
}

.bg_image {
    width: 100%;
    position: relative;
    padding-bottom: 46.25%;
}

video {
  /* height: 80%; */
    width: 100%;
    position: absolute;
    object-fit: cover;
}

.static_book {
   /* border: 2px solid  saddlebrown; */
   /* border: red 5px solid; */
    text-align: center;
    padding: 3rem;
    height: 340px;
    background-color: rgb(102, 158, 222);
    /* border: 2px solid blue; */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px 1px, rgba(0, 0, 0, 0.06) 0px 2px 4px 1px;
    margin-top: 320px;
    background-image: url("https://images.zoomin.com/webresources/banners/600e1f095141.jpg");
}

.trust {
  /* border: 3px solid blue; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    margin: auto;
}
.cb{
    background-color: rgba(2, 90, 128, 0.654);
    border: none;
    width: 565px;
    height: 60px;
    border-radius: 2px;
    font-size: larger;
    margin-top: 20px;
    border-bottom-right-radius: 50px;
}
.cb:hover{
    background-color: rgb(36, 36, 251);
    color: white;
}
.trust>div img {
    max-width: 50px;
}

.trust p:last-child {
    font-weight: bold;
}

form{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    background-image: url("https://img.freepik.com/free-vector/elegant-business-shapes-transparent-background_1361-727.jpg?w=2000");
}
form:hover{
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    /* border-bottom-right-radius: 80px; */
    /* border-top-left-radius: 80px; */
}
form>input,select {
 
    display: block;
    width: 565px;
    height: 60px;
    border-radius: 3px;
    border: none;
    font-size: 16px;
    padding: 0px 0px 0px 20px;
}

form>input:focus,
select:focus {
    outline: none;
}

select option {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}

#date {
    width: 97%;
    font-family: 'Lato', sans-serif;
}
.overlay_booking{
    margin-top: 80px;
    margin-left: 250px;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */
    margin-bottom: 280px;
    width: 600px;
    /* border: red solid 4px; */
    /* border-radius: 550px; */
    /* border-top-left-radius: 280px; */
    /* border-bottom-right-radius: 280px; */
    /* background-image: url("https://img.freepik.com/free-vector/elegant-business-shapes-transparent-background_1361-727.jpg?w=2000"); */
    /* margin-bottom: 560px; */
}
.overlay_booking:hover{
    box-shadow: rgba(2, 2, 246, 0.25) 0px 30px 60px -12px inset, rgba(18, 99, 238, 0.3) 0px 18px 36px -18px inset;
}
.overlay_booking h1{
    color: rgba(9, 6, 195, 0.885);
    font-weight:800;
}
.overlay_booking input[type="submit"] {
    font-weight: bold;
    font-size: 17px;


    background-color: #dd4545;
    /* color: white; */

    background-color: #5184EB;
}

input[type="submit"]:hover {
    cursor: pointer;
    background-color: #7496da;
}

.overlay_booking {
    width: auto;
    padding: 2rem;
    position: absolute;
    top: 140px;
    left: 12%;
    /* background-color: rgba(255, 255, 255, 0.446); */
    border-radius: 3px;
}

.how_it_works {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    margin: 1% 0 3% 8%;
    margin-top: 80px;
}

.how_it_works div>p:nth-child(1) {
    display: flex;
    gap: 0.5rem;
}

.steps_to_book {
    display: flex;
    width: 90%;
    height: auto;
    font-size: 18px;
    /* background-color: #FCEFEF; */
    /* background-color:rgba(249, 230, 255, 0.81); */
    padding: 20px;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    border-radius: 10px;
    /* margin-left: 10px; */
    margin-right: 20px;
}
.steps_to_book > div{
    background-color: #ffffff83;
    padding: 10px 25px;
    border-radius: 10px;
    width: 100%;
    box-shadow: rgba(5, 78, 196, 0.35) 0px 5px 15px;
    margin-right: 40px;
}
.steps_to_book > div:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.steps_to_book div p:nth-child(2) {
    color: rgb(41, 40, 40);
}

.images>img {
    width: 70%;
    border-radius: 5px;
}

.index_reviews {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin: auto;
    flex-wrap: wrap;
}

.index_reviews div {
    width: 30%;
    height: 300px;
    padding: 1rem;
    border-radius: 10px;
    /* background: #FCEFEF; */
     background-color:rgba(249, 230, 255, 0.705);
}

.index_reviews div p {
    text-align: center;
    margin-top: 10%;
    /* margin-bottom: 100px; */
    font-size: 21px;
    font-weight: 550;
}

.index_reviews div span {
    text-align: end;
    font-size: larger;
    /* color: whitesmoke; */
    color:rgba(133, 135, 255, 1);
}

.photographer_join>img {
    width: 95%;
    border-radius: 5px;
    /* margin: 3% 0 3% 10%; */
    margin-left:40px ;
    margin-top: 50px;
    height: 50%;
    border-top-left-radius:150px ;
    border-bottom-right-radius:150px ;
    margin-bottom: 50px;
    box-shadow: rgba(235, 230, 230, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.photographer_join>img {
    box-shadow: rgba(238, 114, 176, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.photographer_join {
    position: relative;
    height: 50%;
}

#signup_btm {
    position: absolute;
    top: 55%;
    left: 48%;
    background-color: black;
    border: 1px solid white;
    color: white;
    font-size: 15px;
    border-radius: 3px;
    padding: 0.7rem 2rem 0.7rem 2rem;
    font-family: 'Poppins', sans-serif;
}













.footer {
  /* background-color: #222; */
  background-color:rgba(203, 218, 249, 0.762);
  margin-top: 20px;
  color: #fbfbfb;
  padding: 30px 0;
  /* border: 2px green solid; */
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  /* border: red solid 2px; */
  margin-top: -30px;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  /* border: 5px solid blue; */
}
.footer-logo{
    /* border: 5px greenyellow solid; */
    margin-top: -170px;
}
.footer-logo img {
  height: 50px;
  margin-top: -500px;
}

.footer-logo img:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.footer-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-links ul li {
  display: inline-block;
  margin-right: 20px;
}

.footer-links ul li a {
  color: #1414159b;
  /* color: #05cf34; */
  text-decoration: none;
  font-weight: bold;
  font-size: 33px;
  transition: color 0.3s ease;
}

.footer-links ul li a:hover {
   text-decoration: underline #013755a7 ;
  text-decoration-thickness: 5px; ;
}
.footer-social {
    /* border: 5px solid yellow; */
    margin-top: -210px;
}
.footer-social ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-social ul li {
  display: inline-block;
  margin-right: 10px;
}

.footer-social ul li a {
  color: rgb(118, 77, 239);
  font-size: 30px;
  transition: color 0.3s ease;
}

.footer-social ul li a:hover {
  color: #046e80a7;
}

.footer-info {
      color:black;
    font-size: 24px;
  text-align: center;
  margin-top: 20px;
}

.footer-info p {
  margin: 5px 0;
}

.footer-info p a {
  color: #1a06f4;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-info p a:hover {
  color: #ff9800;
}

.footer-gallery {
  margin-top: 40px;
}

.footer-gallery h3 {
  color: #05050592;
   
  font-size: 25px;
  margin-bottom: 10px;
}

.gallery-images {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.gallery-images img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 10px;
  /* border-radius: 50%; */
  border-top-left-radius:50px ;
  border-bottom-right-radius:50px ;
  transition: transform 0.3s ease;
}

.gallery-images img:hover {
  transform: scale(1.1);
  /* border-top-left-radius:20px ; */
  /* border-bottom-right-radius:20px ; */
  border-top-right-radius: 50px;
  border-bottom-left-radius:50px ;
  border-top-left-radius:0px ;
  border-bottom-right-radius:0px ;
}

/* Responsive Styles */

@media screen and (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
  }

  .footer-links ul li,
  .footer-social ul li {
    margin: 10px 0;
  }

  .footer-info {
    margin-top: 30px;
  }

  .footer-gallery {
    margin-top: 50px;
  }

  .gallery-images img {
    width: 80px;
    height: 80px;
  }
}



@media screen and (min-width: 500px) and (max-width: 1000px) {
    .hamburger {
        display: none;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 20px;
        cursor: pointer;
        margin-left: 10px;
    }

    .hamburger .line {
        width: 100%;
        height: 2px;
        background-color: #dd4545;
    }

    .nav-contents {
        display: none;
    }

    .hamburger {
        display: flex;
    }
    .show-nav {
        display: flex;
        position: absolute;
        top: 83%;
        width: auto;
        left: 47%;
        flex-direction: column;
        background-color: #f9f9f9ba;
        padding: 20px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }

    .show-nav a {
        font-size: small;
        color: #333;
    }
    .bg_image {
        margin-bottom: 5%;
    }

    .overlay_booking {
        width: 70%;
        padding: 2rem;
        position: static;
        margin: auto;
        /* box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px; */
        /* background-color: rgba(255, 255, 255, 0.446); */
        border-radius: 3px;
    }

    .overlay_booking h1 {
        font-size: larger;
    }

    form>input,
    select {
        display: block;
        width: 350px;
        height: 40px;
        border-radius: 3px;
        border: 1px solid rgb(206, 206, 206);
        font-size: 14px;
    }

    .static_book {
        margin-top: 5%;
        border: orangered solid 5px;
    }

    .overlay_booking input[type="submit"] {
        font-weight: bold;
        font-size: 14px;
    }

    #date {
        width: 330px;
    }

    .images {
        margin-left: 15%;
    }

    .steps_to_book {
        width: 50%;
    }

    .index_reviews div {
        width: fit-content;
        margin-bottom: 20px;
    }

    .index_reviews div p {
        text-align: center;
        font-size: 18px;
        font-weight: 550;
    }

    nav {
        padding: 0;
    }

    .nav-contents {
        margin-right: 10%;
        font-size: small;
    }
}

/* Media query for small screens */
@media screen and (min-width: 100px) and (max-width:500px) {

    /* Hamburger menu styles */
    .hamburger {
        display: none;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 20px;
        cursor: pointer;
        margin-left: 10px;
    }

    .hamburger .line {
        width: 100%;
        height: 2px;
        background-color: #dd4545;
    }

    .nav-contents {
        display: none;
    }

    .hamburger {
        display: flex;
    }

    .overlay_booking {
        display: block;
        position: static;
        /* margin-left: 15%; */
    }

    form>input,
    select {
        display: block;
        width: 250px;
        height: 40px;
        border-radius: 3px;
        border: 1px solid rgb(206, 206, 206);
        font-size: 14px;
    }

    #date {
        width: 230px;
    }

    .steps_to_book,
    .index_reviews {
        width: fit-content;
    }

    .steps_to_book>div {
        width: fit-content;
    }

    .index_reviews>div {
        width: fit-content;
        margin-top: 10px;
    }

    .images>img {
        width: 90%;
    }

    /* Show the navigation contents when hamburger menu is clicked */
    .show-nav {
        display: flex;
        position: absolute;
        top: 83%;
        width: auto;
        left: 40%;
        flex-direction: column;
        background-color: #f9f9f9;
        padding: 20px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }

    .show-nav a {
        font-size: small;
        color: #333;
    }

    footer {
        display: flex;
        flex-direction: column;
    }

    #signup_btm {
        display: none;
    }
}